.player{
    display:flex;
    border-right:2px solid #31728b;
    border-bottom:2px solid #31728b;
    width: 550px;
    height: 250px;
    margin-left: 150px;
    margin-right:20px;
    margin-bottom:10px;
    margin-top: 20px;
    background-color: honeydew;
    border-radius: 5px;
    
    
}
.player-image{
    height: 180px;
    width:60%;
    margin: 10px 0px;

}
.player-details{
   color: #31728b;
}
.club-button{
    background-color: #31728b;
    width: 150px;
    height: 30px;
    color: white;
    padding: 5px;
    border:none;
    border-radius: 5px;
    cursor: pointer;
}